*{
padding: 0;
margin: 0;
font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

ul{
    padding-left: 0;
}

p{
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: var(--e-light-weight);
}

:root{
    --main-theme-color: #002C5F;
    --sec-theme-color:#F1F5F9;
    --theme-white-color:#FFFFFF;
    --rare-font-color:#002C5F;
    --search-box-bg:#E3E9EF;
    --notify-color:#DE0000;
    --border-color:#DBDBDB;
    --light-font-color:#9C9C9C;
    /* font size */
    --e-large-font-size:30px;
    --large-font-size:18px;
    --middle-font-size:12px;
    --small-font-size:10px;
    --font-size-14:14px;
    --font-size-6:6px;
    /*  font weight */ 
    --e-light-weight:300;
    --light-weight:400;
    --mid-weight:500;
    --bold-weight:700;
    --e-bold-weight:700;

}

.row{
    margin: 0 0;
}

.navigation_list ul li.active a{
    background-color:var(--theme-white-color);
    color:var( --rare-font-color) !important;
    border-radius: 5px;
}

.main_section{
    background-color: var(--main-theme-color);
}

.navigation_list ul li{
    list-style: none;
}

.navigation_list ul li a{
    color: var(--theme-white-color);
    display: flex;
    gap: 10px;
    font-size: var(--middle-font-size);
    padding: 10px 0 10px 10px;
    font-weight:var(--mid-weight) ;
    text-decoration: none;
}

.navigation_list ul li img{
    width: 15px;
    height: 15px;
}

.main_content{
    background-color: var( --sec-theme-color);
    margin-right: 20px;
    padding: 20px;
    border-radius:20px 20px 0px 0px;
}

.slide_bar .img_logo img{
    width: 100%;
}

.main_content h1{
    font-size: 18px;
    line-height: 21px;
    font-weight: var(--mid-weight);
    margin-top: 15px;
}
.searchbar{
    height: 100%;
    display: flex;
    align-items: center;
}
.search_input input[type="search"]{
    border: none;
    outline: none;
    height: 32px;
    background: transparent;
    font-size:var(--middle-font-size) ;
    width: 92%;
}

.search_input img{
    width: 13px;
    height: 13px;
}
.search_input{
    background-color:var( --search-box-bg) ;
    padding: 0 10px;
    border-radius: 5px;
    min-width: 70%;
}
.profile{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.profile .notify{
    position: relative;
}
.profile .notify::after{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 5px;
    right: 1px;
    background-color: var( --notify-color);
    border-radius: 50%;
}
.page_title{
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
}
.page_subtitle h3{
    font-size: var(--middle-font-size);
    color: var(--main-theme-color);
    padding: 10px 0;
    padding-left: 10px;
}
.dashboard-card{
    background-color: var(--theme-white-color);
    padding: 30px 20px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000014;
}
.abslute_background{
    position: relative;
}
.abslute_background::after{
    content: '';
    position: absolute;
    width: 88%;
    height: 20px;
    background-color: #fff;
    bottom: -10px;
    border-radius: 0 0 10px 10px;

}
.dashboard-card img{
    width: 36px;
    height: 38px;
}
.dashboard-card h2{
    font-size: var(--e-large-font-size);
    margin: 10px 0px;
}
.dashboard-card p{
color: var(--light-font-color);
font-size: var(--middle-font-size);
}


.recent-acv img{
    grid-area:img;
    width: 32px;
    height: 32px;
}
.recent-acv h5{
    grid-area:title;
    font-size: var(--small-font-size);
    font-weight: var(--mid-weight);
}
.recent-acv span{
    grid-area:time;
    text-align: end;
    font-size: 7px;
    font-weight: var(--mid-weight);
}
.recent-acv p{
    grid-area:dispcription;
    font-size: var(--small-font-size);
    font-weight: var(--mid-weight);
}
.recent-acv{
    display: grid;
    grid-template-areas:
    'img title time'
    'img dispcription dispcription';
    background-color: var(--theme-white-color);
    padding: 10px 20px;
    border-radius: 10px;
}

.subtitle h3{
font-size: var(--font-size-14);
}
.subtitle p a{
    font-size: var(--small-font-size);
    font-weight: var(--mid-weight);
    text-decoration: none;
    color: var(--main-theme-color);
}

.table-title{
    font-size: var(--small-font-size);
    font-weight: var(--mid-weight);
}
.table-content{
    background-color: var(--theme-white-color);
    padding: 15px 0;
    border-radius: 5px;
}
.table-content div.col img{
    width: 19px;
    height: 19px;
}
.table-content div.col{
    font-size: var(--small-font-size);
}
.beetween_borders{
    padding: 0 30px;
    position: relative;
}
.date_box{
    background-color: var(--main-theme-color);
    padding:5px 10px;
    border-radius: 5px;
}
.date_box h4{
    font-size: var(--font-size-14);
    color: var(--theme-white-color);
    text-align: center;
  
    margin: 0;
}
.date_box p{
    font-size: var(--font-size-6);
    color: var(--theme-white-color);
    text-align: center;
}
.recent_news p{
    font-size: var(--small-font-size);
}
.table-content-mid{
    padding: 9px 0;
    background-color: var(--theme-white-color);
}
.d-flex.subtitle.justify-content-between.mb-3{
    align-items: center;
}
.d-flex.subtitle.justify-content-between.mb-3 h3{
    margin-bottom: 0;
}
.beetween_borders:nth-child(2)::after{
   content: '';
   width: 1px;
   position: absolute;
   height: 100%;
   background-color:  var(--border-color);
   top: 0;
   left: 0;
}
.beetween_borders:nth-child(2)::before{
   content: '';
   width: 1px;
   position: absolute;
   height: 100%;
   background-color: var(--border-color);
   top: 0;
   right: 0;
}