*{
padding: 0;
margin: 0;
font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

ul{
    padding-left: 0;
}
p{
    padding-bottom: 0;
    font-weight: var(--e-light-weight);
}
:root{
    --main-theme-color: #002C5F;
    --sec-theme-color:#F1F5F9;
    --theme-white-color:#FFFFFF;
    --rare-font-color:#002C5F;
    --e-large-font-size:30px;
    --large-font-size:18px;
    --middle-font-size:12px;
    --small-font-size:10px;
    /*  font weight */ 
    --e-light-weight:300;
    --light-weight:400;
    --mid-weight:500;
    --bold-weight:700;
    --e-bold-weight:700;

}
.row{
    margin: 0 0;
}
.navigation_list ul li.active a{
    background-color:var(--theme-white-color);
    color:var( --rare-font-color) !important;
    border-radius: 5px;
}
.main_section{
    background-color: var(--main-theme-color);
}
.navigation_list ul li{
    list-style: none;
}
.navigation_list ul li a{
    color: var(--theme-white-color);
    display: flex;
    gap: 10px;
    font-size: var(--middle-font-size);
    padding: 10px 0 10px 10px;
    font-weight:var(--mid-weight) ;
    text-decoration: none;
}

.navigation_list ul li img{
    width: 15px;
    height: 15px;
}
.main_content{
    background-color: var( --sec-theme-color);
}